div,body,html,p,ul,ol,li,h1,h2,h3,h4,h5,h6{
    margin:0;padding:0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:0;vertical-align:middle;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
input{
    border:0; background:none;outline:none;
}
body{
    overflow-x: hidden;
}
